@use "../utils/linear-gradient";
@use "../utils/_shadow";

.search-infos {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f3f3f3;
    text-align: center;
    padding: 20px;

    h2 {
        br {
            display: none;
            @media (max-width:768px) {
                display: inline;
                
            }
        }   
    }

    a {
        width: 216px;
        text-decoration: none;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border: none;
        border-radius: 30px;
        @include linear-gradient.background-image;
        padding: 15px 20px;    
    }

    a:hover {
        cursor: pointer;
        transform: scale(1.01);  
        @include shadow.box-shadow; 
        opacity: .9;
    }
}