footer {
    background-color: rgb(48, 46, 46);
    padding: 30px;

    
    img {
        width: 120px;
        filter: invert(1) ;
    }

    p {
        color: white;
    }

    i {
        margin-right: 5px;
    }

    .fa-hands-helping {
        font-size: x-small;
    }

    a {
        color: white;
        text-decoration: none;
        
    }

}
